@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Oswald";
	margin: 0;
	background-color: #172446;
}

.navigationtab {
	width: 100%;
	height: 40px;
	background-color: #3d4999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: fixed;
}

.logoportfolio-desktop {
	height: 40px;
}

.logoportfolio-mobile {
	height: 40px;
}

.navigationtab li {
	display: inline;
	padding-right: 20px;
}

a {
	border-radius: 5px;
	padding: 8px 18px;
	color: #fff;
	text-decoration: none;
}

a.red {
	background-color: #b74565;
	border: #b74565;
}

a.red2 {
	background-color: #b74565;
	border: #b74565;
}

a.red3 {
	background-color: #b74565;
	border: #b74565;
}

a.red:hover {
	background-color: #f40612;
}

a.red2:hover {
	background-color: #f40612;
}

a.red3:hover {
	background-color: #f40612;
}

header {
	height: 100vh;
	background-image: url(images/backgroundWright.webp);
	background-size: cover;
	background-position: top right;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	background-color: red;
}


.whoami {
	width: 35%;
}

.logoname {
	width: 400px;
	padding-top: 70px;
}

.intro {
	color: white;
	padding-left: 70px;
}

.service {
	color: white;
	padding-top: 50px;
	padding-left: 70px;
}
.aboutme-flex {
	display: flex;
	align-items: center;
	height: 100vh;
}

.newwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}

.newwrap div {
	width: 49%;
}

.checkout {
	color: white;
	padding-left: 70px;
}

.knowme {
	color: white;
	width: 48%;
	padding-left: 70px;
}

.knowme img {
	width: 100%;
}




.mobile {
	display: none;
}

@media screen and (max-width: 768px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
		padding-top: 12px;
	}

	header {
		background-image: none;
	}

	.whoami {
		width: 100%;
		padding-right: 60px;
	}

	.skills {
		width: 100%;
	}

	.overlap div {
		width: 98%;
	}
}

